// colors
$color-accent: #000000
$color-text: #000000
$color-text-reverse: #FFFFFF
$color-text-alt: #454545
$color-background: #FFFFFF
$color-background-reverse: $color-text
$color-background-alt: #F2F2F2
$color-selection: $color-background
$color-selection-background: rgba($color-text, .7)

// fonts
$heading-font-family: "BBB Poppins TN", sans-serif
$body-font-family: $heading-font-family

$h1-weight: black
$h1-text-transform: uppercase

$lead-line-height : 135%

// COMPONENTS

// header
$header-background: $color-background
$header-logo-height: 32px
$header-logo-height-desktop: 60px
$header-color: $color-text
$header-border-bottom-width: 0

// footer
$footer-background-color: $color-background-alt
$footer-logo-height: 50px
$footer-logo-height-desktop: 120px

// hero
$hero-background-color: $color-background-reverse
$hero-color: $color-text-reverse

//btn
$btn-border-radius: none
